<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICellContract" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICellContract" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2112/Cell" 
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICellContract"
                contract="ServiceReference.ICellContract"
                name="BasicHttpBinding_ICellContract" />
      
      <endpoint address="net.tcp://localhost:2113/Cell"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICellContract"
                contract="ServiceReference.ICellContract"
                name="NetTcpBinding_ICellContract">
        <identity>
          <userPrincipalName value="DESKTOP-NH7TJ2T\benbi" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="DefaultConnection"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=CellCompany;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"></add>
  </connectionStrings>
</configuration>